<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/hy/css/main.css" rel="stylesheet" type="text/css" />
    <script src="/hy/js/jquery-3.5.1.js"></script>
    <script src="/hy/js/vue.js"></script>
    <script src="/hy/js/vueutils.js"></script>
    <script src="/hy/system/hymodule/hymodule_list.js"></script>
</head>
<body style="overflow: hidden;">
    <!-- right -->
    <div id="hyTable">
        <div class="main_input">
            <span>账号类型</span>
            <select class="int-text" >
                <option>选项一</option>
                <option>选项二</option>
                <option>选项三</option>
                <option>选项四</option>
                <option>选项五</option>
            </select>
            <span>账号/邮箱</span><input type="text" class="int-text" />
            <span>审核/状态</span>
            <select class="int-text" >
                <option>选项一</option>
                <option>选项二</option>
                <option>选项三</option>
                <option>选项四</option>
                <option>选项五</option>
            </select>
            <span>来源</span><input type="text" class="int-text" />
            <input type="button" value="确 定" class="green-int" />
            <input type="button" value="确 定" class="yellow-int" />
        </div>
        <div class="main_table">
            <!--<table cellpadding="0" cellspacing="0" border="0" bgcolor="#dcdcdc" width="100%">-->
                <div class="head-list">
                    <table>
                        <thead>
                        <tr>
                            <th style="text-align: center; width: 60px;" md="index">编号</th>
                            <th style="text-align: center; width: 15%;" md="workNo">账号/邮箱</th>
                            <th style="text-align: center; width: 10%;" md="name">姓名</th>
                            <th style="text-align: center; width: 12%;" md="demo01">身份证号</th>
                            <th style="text-align: center; width: 13%;" md="demo02">手机号</th>
                            <th style="text-align: center; width: 10%;" md="demo03">来源</th>
                            <th style="text-align: center; width: 10%;" md="demo04">认证方式</th>
                            <th style="text-align: center; width: 10%;" md="demo05">审核状态</th>
                            <th style="text-align: center; width: 10%;" md="demo06">创建时间</th>
                            <th style="text-align: center; width: 10%;" md="demo07">状态</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="body-list">
                    <tablebody></tablebody>
<!--                    <table>-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr class="main_bg">-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr class="main_bg">-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr class="main_bg">-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr class="main_bg">-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr class="main_bg">-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        <tr class="main_bg">-->
<!--                            <td>1</td>-->
<!--                            <td>zhuzh@fadada.com</td>-->
<!--                            <td>郑雄杰</td>-->
<!--                            <td>450340198710196712</td>-->
<!--                            <td>15814467255</td>-->
<!--                            <td>法大大</td>-->
<!--                            <td>视频认证</td>-->
<!--                            <td>已审核</td>-->
<!--                            <td>2015-05-20</td>-->
<!--                            <td><a href="#" class="yellow-xt">状态</a><a href="#" class="blue-xt">状态</a><a href="#" class="red-xt">状态</a></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
                </div>
            <!--</table>-->
        </div>
        <div class="main_fenye">
            <div class="main_fenye-left">当前第 1 / 270 页,每页10条，共 2696条记录</div>
            <div class="main_fenye-right">
                <a href="#">首页</a>
                <a href="#">上一步</a>
                <a href="#">下一步</a>
                <a href="#">尾页</a>
                <input type="text" name="text" />
                <a href="#" class="main_link">跳转</a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>