<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/hy/css/table.css" rel="stylesheet" type="text/css" />
    <script src="/hy/js/jquery-3.5.1.js"></script>
    <script src="/hy/js/vue.js"></script>
    <script src="/hy/js/vue-utils.js"></script>
    <script src="/hy/js/hyTable.js"></script>
    <script src="/hy/system/hyModule/hyModule_list.js"></script>
</head>
<body style="overflow: hidden;">
    <!-- right -->
    <div id="hyModule" style="height: 100%;">
        <div class="table_search">
            <div ct="search_params">
                <span>账号类型</span>
                <span>
                    <select class="int-text" >
                        <option>选项一</option>
                        <option>选项二</option>
                        <option>选项三</option>
                        <option>选项四</option>
                        <option>选项五</option>
                    </select>
                </span>
            </div>
            <div ct="search_params">
                <span>账号/邮箱</span>
                <span>
                    <input type="text" class="int-text" v-model="params.mname" />
                </span>
            </div>
            <div ct="search_params">
                <span>审核/状态</span>
                <span>
                    <select class="int-text" >
                        <option>选项一</option>
                        <option>选项二</option>
                        <option>选项三</option>
                        <option>选项四</option>
                        <option>选项五</option>
                    </select>
                </span>
            </div>
            <div>
                <input type="button" value="确 定" class="green-int" />
                <input type="button" value="确 定" class="yellow-int" />
            </div>
        </div>
        <div class="table_body">
            <div class="head-list">
                <table>
                    <thead ct="head_names">
                    <tr>
                        <th style="text-align: center; width: 60px;" md="index">编号</th>
                        <th style="text-align: center; width: 30%;" md="mname">模块名称</th>
                        <th style="text-align: center; width: 50%;" md="maddress">模块地址</th>
                        <th style="text-align: center; width: 5%;" md="mtype">模块类别</th>
                        <th style="text-align: center; width: 15%;" md="createtime">创建时间</th>
                        <th style="text-align: center; width: 140px;" md="operation">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <vue-table v-bind:searchName="searchName" v-bind:params="params" ></vue-table>
        </div>
    </div>
</body>
</html>