<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/hy/css/vue-utils.css" rel="stylesheet" type="text/css" />
    <script src="/hy/js/jquery-3.5.1.js"></script>
    <script src="/hy/js/vue.js"></script>
    <script src="/hy/js/vue-utils.js"></script>
    <script src="/hy/js/hyPageBase.js"></script>
    <script src="/hy/system/hyModule/hyModule_list.js"></script>
</head>
<body style="overflow: hidden;">
    <!-- right -->
    <div id="hyModule_list" style="height: 100%;">
        <div class="table_search">
            <div>
                <span>类型</span>
                <span>
                    <select class="select-text" v-model="params.mType">
                        <option value="0">分类</option>
                        <option value="1">引用</option>
                    </select>
                </span>
            </div>
            <div>
                <span>模块名称:</span>
                <span>
                    <input type="text" class="input-text" v-model="params.mName" />
                </span>
            </div>
            <div>
                <span>审核/状态</span>
                <span>
                    <select class="select-text" >
                        <option>选项一</option>
                        <option>选项二</option>
                        <option>选项三</option>
                        <option>选项四</option>
                        <option>选项五</option>
                    </select>
                </span>
            </div>
            <div>
                <input type="button" v-on:click="openInsertPage" value="新 增" class="blue-int" />
                <input type="button" v-on:click="innerRest" value="重 置" class="green-int" />
                <input type="button" v-on:click="innerSearch" value="查 询" class="yellow-int" />
            </div>
        </div>
        <div class="table_body">
            <div class="head-list">
                <table>
                    <thead ct="head_names">
                    <tr>
                        <th style="text-align: center; width: 60px;" md="index">编号</th>
                        <th style="text-align: center; width: 10%;" md="mName">模块名称</th>
                        <th style="text-align: center; width: 50%;" md="mAddress">模块地址</th>
                        <th style="text-align: center; width: 5%;" md="mType">模块类别</th>
                        <th style="text-align: center; width: 15%;" md="createTime">创建时间</th>
                        <th style="text-align: center; width: 20%;" md="imgUrl">图标</th>
                        <th style="text-align: center; width: 140px;" md="operation">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <vue-table ref="VueTable" v-bind:config="config" v-bind:params="params"></vue-table>
        </div>
        <vue-page ref="VueInfoPage"></vue-page>
    </div>
</body>
</html>