<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/hy/css/table.css" rel="stylesheet" type="text/css" />
    <script src="/hy/js/jquery-3.5.1.js"></script>
    <script src="/hy/js/vue.js"></script>
    <script src="/hy/js/vue-utils.js"></script>
    <script src="/hy/js/hyTable.js"></script>
    <script src="/hy/system/hyModule/hyModule_add.js"></script>
</head>
<body>
    <div id="hyModule_add">
        <div>
            <span>模块名称:</span>
            <span>
                <input type="text" >
            </span>
        </div>
        <div>
            <span>模块地址:</span>
            <span>
                <input type="text" >
            </span>
        </div>
        <div>
            <span>模块类别:</span>
            <span>
                <select>
                    <option value="0">分类</option>
                    <option value="1">引用</option>
                </select>
            </span>
        </div>
        <div>
            <span>图标地址:</span>
            <span>
                <input type="text" >
            </span>
        </div>
    </div>
</body>
</html>