/*****************************************************table样式 start****************************************************/
html, body{
	width: 100%;
	height: 100%;
	margin: 0px;
}
/* 表 start*/
.table_body{
    height: 80%;
    margin: 20px;
    border: 1px solid #dcdcdc;
}
.table_body table{
    width: 100%;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 12px;
    color: #666;
}
.table_body td,.table_body th{
    background: #fff;
    padding: 15px 8px;
    border: 1px solid #e7e7e7;
    text-align: center;
    box-sizing: border-box;
}
.table_body th{
    background: #eee;
    border-bottom:1px solid #dcdcdc;
}
.table_body tr.main_bg td{
    background: #f9fafa;
}
.table_body tr td a{
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 0 2px;
}
.table_body tr:hover td{
    background: #73cfce;
    color: #fff;
}
.table_body tr:hover td a:hover{
    color: #baa01b;
    background: #f5e17a;
}
.head-list{
    height: 8%;
}
.body-list{
    overflow: auto;
    height: 87%;
    /*height: 563px;*/
}

.body-list tr{
    height: 20px;
}

/* 分页 */
.table_page{
    height: 6%;
    background: #fff;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    padding: 10px 15px;
}
.table_page-left{
    float: left;
    padding: 5px 0;
}
.table_page-right{
    float: right;
}
.table_page-right b,.table_page-right input{
    display: inline-block;
    vertical-align: middle;
}
.table_page-right b{
    background: #f8f8f8;
    border: 1px solid #dcdcdc;
    padding: 5px 15px;
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
.table_page-right b:hover{
    background: #21b6b4;
    color: #fff;
    border: 1px solid #21b6b4;
}
.table_page-right b:hover.main_link{
    background: #30abaa;
    color: #fff;
    border: 1px solid #30abaa;
}
.table_page-right input{
    width: 40px;
    text-align: center;
    padding: 4px;
}

/* input */
.table_search{
    /*height: 35px;*/
    height: 5%;
    background: #eee;
    padding: 16px 20px;
    margin: 20px;
    border: 1px solid #dcdcdc;
}
.table_search div{
    float: left;
    margin-right: 15px;
}
.table_search span,.table_search input,.table_search select{
    display: inline-block;
    vertical-align: middle;
}

.table_search select{
    width: 150px;
}

.table_search span{
    padding: 2px 5px;
}
/***************************************************** end *************************************************************/




/*****************************************************弹出层样式 start****************************************************/
.vue-page{
    width: 100%;
    height: 100%;
    position:fixed;
    top :0;
    left:0;
    background: rgba(0, 0, 0, 0.5)
    /*background-color:#000;
    opacity:0.3;*/
}
.vue-page .main{
    position:fixed;
    top :10%;
    left:30%;
    background-color:#fff;
}
.vue-page .close{
    cursor: pointer;
    float: right;
    font-size: 14px !important;
    width: 20px;
    height: 100%;
    text-align: center;
    line-height: 45px;
}
.vue-page .top{
    height: 50px;
    border-bottom: 1px solid #afaaaa;
    color: #73879C;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.73;
}
.vue-page .middle{
    /*height:80%;*/
}
.vue-page .middle iframe{
    height:100%;
    width:100%;
    border-style:unset;
}
.infoPage{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.infoPage .spanOne{
    margin-left: 30px;
    margin-top: 10px;
}
.infoPage .spanOne span:first-child{
    float: left;
    width: 100px;
    margin-left: 15px;
}
.infoPage .spanOne input,.infoPage .spanOne select{
    width: 270px;
    padding: 8px 10px;
    border: 1px solid #dcdcdc;
}
.vue-page .infoBottom{
    height:50px;
    border-top: 1px solid #afaaaa;
}
.vue-page .infoBottom input{
    margin-left: 120px;
    margin-top: 7px;
}
/***************************************************** end ******************************************************/

/******************************************************文本框样式 start*****************************************************/
.input-text{
    padding: 8px 10px;
    border: 1px solid #dcdcdc;
}
.select-text{
    padding: 8px 10px;
    border: 1px solid #dcdcdc;
}
/****************************************************** end *****************************************************/

/******************************************************按钮样式 start*****************************************************/
.none-int{
    background: #fff;
    color: #000;
    padding: 6px 20px;
    margin: 2px;
    border: 1px solid;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.blue-int{
    background: #0183fc;
    color: #fff;
    padding: 6px 20px;
    margin: 2px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.green-int{
    background: #21b6b4;
    color: #fff;
    padding: 6px 20px;
    margin: 2px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
.yellow-int{
    background: #ffb849;
    color: #fff;
    padding: 6px 20px;
    margin: 2px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
/* a/input样式 */
.yellow-xt{ background: #ffb849; color: #fff; cursor: pointer;}
.red-xt{ background: #da542e; color: #fff; cursor: pointer;}
.blue-xt{ background: #2596d4; color: #fff; cursor: pointer;}
.green-xt{ background: #21b6b4; color: #fff; cursor: pointer;}
/* 表 end*/

/******************************************************** end **********×******************************************/